In [1]:
import pandas as pd

In [2]:
data = pd.read_csv('./data/csv/data1256007__80.csv')

In [3]:
data.head()

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Cust_Id</th>
      <th>Rating</th>
      <th>Movie_Id</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>1488844</td>
      <td>3.0</td>
      <td>1</td>
    </tr>
    <tr>
      <th>1</th>
      <td>1926776</td>
      <td>1.0</td>
      <td>1</td>
    </tr>
    <tr>
      <th>2</th>
      <td>1188228</td>
      <td>2.0</td>
      <td>1</td>
    </tr>
    <tr>
      <th>3</th>
      <td>1073367</td>
      <td>3.0</td>
      <td>1</td>
    </tr>
    <tr>
      <th>4</th>
      <td>640588</td>
      <td>4.0</td>
      <td>1</td>
    </tr>
  </tbody>
</table>
</div>

In [4]:
from surprise import Reader, Dataset, SVD, evaluate

In [5]:
reader = Reader()
data = Dataset.load_from_df(data[['Cust_Id', 'Movie_Id', 'Rating']], reader)

In [7]:
from surprise.model_selection import  cross_validate
algo = SVD()
cross_validate(algo, data, measures=['RMSE', 'MAE'], cv=5, verbose=True)

Evaluating RMSE, MAE of algorithm SVD on 5 split(s).

                  Fold 1  Fold 2  Fold 3  Fold 4  Fold 5  Mean    Std
RMSE (testset)    0.9943  0.9960  0.9942  0.9958  0.9959  0.9952  0.0008
MAE (testset)     0.7910  0.7924  0.7910  0.7916  0.7921  0.7916  0.0005
Fit time          99.03   93.94   90.82   89.51   90.22   92.70   3.51
Test time         3.93    3.43    3.56    3.10    3.73    3.55    0.28

{'fit_time': (99.02747774124146,
  93.94198513031006,
  90.82263445854187,
  89.50529623031616,
  90.22197818756104),
 'test_mae': array([0.79102532, 0.79236721, 0.7910185 , 0.79159097, 0.79205747]),
 'test_rmse': array([0.99425254, 0.99602493, 0.99420155, 0.99580026, 0.9958861 ]),
 'test_time': (3.9317939281463623,
  3.4348912239074707,
  3.5598323345184326,
  3.101454973220825,
  3.7299249172210693)}