In [1]:
import pandas as pd

In [46]:
rating = pd.read_csv('data/csv/ml-latest-small/ratings.csv')
rating['days'] = (rating['timestamp'] / 3600 / 24).astype(int)
tu_means = rating.groupby('userId')['days'].mean().astype(int)
print(tu_means[:5])

userId
1    14592
2     9668
3    15033
4    10993
5    13464
Name: days, dtype: int32

In [47]:
tu_means = pd.DataFrame(tu_means)
tu_means.columns = ['tu_means']
print(tu_means.head())

        tu_means
userId
1          14592
2           9668
3          15033
4          10993
5          13464

In [48]:
rating = pd.merge(rating, tu_means, on='userId')
print(tu_means.head(), rating.head())

        tu_means
userId
1          14592
2           9668
3          15033
4          10993
5          13464    userId  movieId  rating   timestamp   days  tu_means
0       1       31     2.5  1260759144  14592     14592
1       1     1029     3.0  1260759179  14592     14592
2       1     1061     3.0  1260759182  14592     14592
3       1     1129     2.0  1260759185  14592     14592
4       1     1172     4.0  1260759205  14592     14592

In [49]:
rating.head()

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>userId</th>
      <th>movieId</th>
      <th>rating</th>
      <th>timestamp</th>
      <th>days</th>
      <th>tu_means</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>1</td>
      <td>31</td>
      <td>2.5</td>
      <td>1260759144</td>
      <td>14592</td>
      <td>14592</td>
    </tr>
    <tr>
      <th>1</th>
      <td>1</td>
      <td>1029</td>
      <td>3.0</td>
      <td>1260759179</td>
      <td>14592</td>
      <td>14592</td>
    </tr>
    <tr>
      <th>2</th>
      <td>1</td>
      <td>1061</td>
      <td>3.0</td>
      <td>1260759182</td>
      <td>14592</td>
      <td>14592</td>
    </tr>
    <tr>
      <th>3</th>
      <td>1</td>
      <td>1129</td>
      <td>2.0</td>
      <td>1260759185</td>
      <td>14592</td>
      <td>14592</td>
    </tr>
    <tr>
      <th>4</th>
      <td>1</td>
      <td>1172</td>
      <td>4.0</td>
      <td>1260759205</td>
      <td>14592</td>
      <td>14592</td>
    </tr>
  </tbody>
</table>
</div>

In [50]:
rating['days'].max() - rating['days'].min()

7951

In [13]:
rating[:10, :]

array([[1.00000000e+00, 3.10000000e+01, 2.50000000e+00, 1.26075914e+09,
        1.45920000e+04, 1.45920000e+04],
       [1.00000000e+00, 1.02900000e+03, 3.00000000e+00, 1.26075918e+09,
        1.45920000e+04, 1.45920000e+04],
       [1.00000000e+00, 1.06100000e+03, 3.00000000e+00, 1.26075918e+09,
        1.45920000e+04, 1.45920000e+04],
       [1.00000000e+00, 1.12900000e+03, 2.00000000e+00, 1.26075918e+09,
        1.45920000e+04, 1.45920000e+04],
       [1.00000000e+00, 1.17200000e+03, 4.00000000e+00, 1.26075920e+09,
        1.45920000e+04, 1.45920000e+04],
       [1.00000000e+00, 1.26300000e+03, 2.00000000e+00, 1.26075915e+09,
        1.45920000e+04, 1.45920000e+04],
       [1.00000000e+00, 1.28700000e+03, 2.00000000e+00, 1.26075919e+09,
        1.45920000e+04, 1.45920000e+04],
       [1.00000000e+00, 1.29300000e+03, 2.00000000e+00, 1.26075915e+09,
        1.45920000e+04, 1.45920000e+04],
       [1.00000000e+00, 1.33900000e+03, 3.50000000e+00, 1.26075912e+09,
        1.45920000e+04, 1.45920000e+04],
       [1.00000000e+00, 1.34300000e+03, 2.00000000e+00, 1.26075913e+09,
        1.45920000e+04, 1.45920000e+04]])

In [42]:
a = dict().fromkeys([1,2,3,4],[1,1,1,1])

In [43]:
a[1][1] += 1

In [44]:
a

{1: [1, 2, 1, 1], 2: [1, 2, 1, 1], 3: [1, 2, 1, 1], 4: [1, 2, 1, 1]}

In [38]:
a = dict().fromkeys([1,2,3,4],1)

In [39]:
a

{1: 1, 2: 1, 3: 1, 4: 1}

In [41]:
a[1] += 1
a

{1: 2, 2: 1, 3: 1, 4: 1}